body {
    background: url("../Images/crimson_tide.jpg") center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

.dropdown-item:hover {
    color: white;
    background-color: red;
    background-image: none;
}

.select-option:focus {
    color: white;
    background-color: red;
    background-image: none;
}

h1 {
    text-align: center;
    background: rgb(0, 0, 0, .8);
    color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 5px;
}

.container-fluid {
    background: rgb(0, 0, 0, .8);
    color: rgb(255,255,255);
    padding: 10px;
    border-radius: 5px;
}

option:focus {
    color: rgb(255,255,255);
    background: rgb(255, 0, 0);
    background-image: none;
}

.roll-button {
    background: rgb(255,255,255);
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
}

.roll-button:hover {
    color: rgb(255,255,255);
    background: rgb(255, 0, 0);
    border: 2px solid rgb(255,255,255);
}

h4 {
    color: rgb(255, 0, 0);
    margin-top: 20px;
}

h5 {
    color: rgb(255, 0, 0);
}

.two-table {
    display: inline;
}

td {
    width: 50px;
    border: 1px solid rgb(255,255,255);
    color: rgb(255,255,255);
}

td:empty:after{
    content: "\00a0";
  }

.bg-custom {
    background-color: rgb(255, 0, 0);
}

.body-blue {
    background: url("../Images/deep_void.jpg") center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

.bg-blue {
    background-color: rgb(30,144,255);
    background-image: none;
}

.blue-hover:hover {
    color: white;
    background-color: rgb(30,144,255);
    background-image: none;
}

.blue-select:focus {
    color: white;
    background-color: rgb(30,144,255);
    background-image: none;
}

.blue-text {
    color: rgb(30,144,255);
}

.blue-button {
    color: rgb(30,144,255);
    border: 2px solid rgb(30,144,255);
}

.blue-button:hover {
    color: rgb(255,255,255);
    background: rgb(30,144,255);
    border: 2px solid rgb(255,255,255);
}

.body-green {
    background: url("../Images/emerald_sea.jpg") center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

.bg-green {
    background-color: rgb(0,250,154);
    background-image: none;
}

.green-hover:hover {
    color: white;
    background-color: rgb(0,250,154);
    background-image: none;
}

.green-select:focus {
    color: white;
    background-color: rgb(0,250,154);
    background-image: none;
}
.green-text {
    color: rgb(0,250,154);
}

.green-button {
    color: rgb(0,250,154);
    border: 2px solid rgb(0,250,154);
}

.green-button:hover {
    color: rgb(255,255,255);
    background: rgb(0,250,154);
    border: 2px solid rgb(255,255,255);
}

.body-brown {
    background: url("../Images/crystal_lake.jpg") center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

.bg-brown {
    background-color: rgb(139, 69, 19);
    background-image: none;
}

.brown-hover:hover {
    color: white;
    background-color: rgb(139, 69, 19);
    background-image: none;
}

.brown-select:focus {
    color: white;
    background-color: rgb(139, 69, 19);
    background-image: none;
}

.brown-text {
    color: rgb(139, 69, 19);
}

.brown-button {
    color: rgb(139, 69, 19);
    border: 2px solid rgb(139, 69, 19);
}

.brown-button:hover {
    color: rgb(255,255,255);
    background: rgb(139, 69, 19);
    border: 2px solid rgb(255,255,255);
}

.body-orange {
    background: url("../Images/morning_dew.jpg") center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

.bg-orange {
    background-color: rgb(204,85,0);
    background-image: none;
}

.orange-hover:hover {
    color: white;
    background-color: rgb(204,85,0);
    background-image: none;
}

.orange-select:focus {
    color: white;
    background-color: rgb(204,85,0);
    background-image: none;
}

.orange-text {
    color: rgb(204,85,0);
}

.orange-button {
    color: rgb(204,85,0);
    border: 2px solid rgb(204,85,0);
}

.orange-button:hover {
    color: rgb(255,255,255);
    background: rgb(255, 106, 0);
    border: 2px solid rgb(255,255,255);
}

.body-neon {
    background: url("../Images/neon_wall.jpg") center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

.bg-neon {
    background-image: linear-gradient(to right, rgb(0,255,255), rgb(128,0,128));
}

.neon-hover:hover {
    color: white;
    background-color: transparent;
    background-image: linear-gradient(to left, rgb(0,255,255), rgb(128,0,128));
}

.neon-select:focus {
    color: white;
    background-color: transparent;
    background-image: linear-gradient(to left, rgb(0,255,255), rgb(128,0,128));
}

.neon-header {
    background: rgb(0, 0, 0, .7)
}

.neon-text {
    background: -webkit-linear-gradient(rgb(0,255,255),rgb(128,0,128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.neon-button {
    background: -webkit-linear-gradient(rgb(0,255,255),rgb(128,0,128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.neon-button:hover {
    background: -webkit-linear-gradient(rgb(128,0,128),rgb(0,255,255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid rgb(148,0,211);
}