body {
    background: url("../Images/crimson_tide.jpg") center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

.neon-header {
    background: rgb(0, 0, 0, .7)
}

h1 {
    text-align: center;
    background: rgb(0, 0, 0, .8);
    color: red;
    padding: 10px;
    border-radius: 5px;
}

.container-fluid {
    background: rgb(0, 0, 0, .8);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.roll-button {
    background: white;
    color: red;
    border: 2px solid red;
}

/* .roll-button:hover {
    color: white;
    background: red;
    border: 2px solid white;
} */

h4 {
    color: red;
    margin-top: 20px;
}

h5 {
    color: red;
}

.two-table {
    display: inline;
}

td {
    width: 50px;
    border: 1px solid white;
    color: white;
}

td:empty:after{
    content: "\00a0";
  }

.bg-custom {
    background-color: red;
}

.neon-text {
    background: -webkit-linear-gradient(rgb(0,255,255),rgb(128,0,128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.neon-button {
    background: -webkit-linear-gradient(rgb(0,255,255),rgb(128,0,128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}