body {
    background: url("../Images/crimson_tide.jpg") center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

.neon-header {
    background: rgb(0, 0, 0, .7)
}

h1 {
    text-align: center;
    background: rgb(0, 0, 0, .8);
    color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 5px;
}

.container-fluid {
    background: rgb(0, 0, 0, .8);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.roll-button {
    background: white;
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
}

/* .roll-button:hover {
    color: white;
    background: red;
    border: 2px solid white;
} */

h4 {
    color: rgb(255, 0, 0);
    margin-top: 20px;
}

h5 {
    color: rgb(255, 0, 0);
}

.two-table {
    display: inline;
}

td {
    width: 50px;
    border: 1px solid white;
    color: white;
}

td:empty:after{
    content: "\00a0";
  }

.bg-custom {
    background-color: rgb(255, 0, 0);
}

#body-blue {
    background: url("../Images/deep_void.jpg") center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

.blue-text {
    color: rgb(30,144,255);
}

.blue-button {
    color: rgb(30,144,255);
    border: 2px solid rgb(30,144,255);
}

#body-green {
    background: url("../Images/emerald_sea.jpg") center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

.green-text {
    color: rgb(0,250,154);
}

.green-button {
    color: rgb(0,250,154);
    border: 2px solid rgb(0,250,154);
}

#body-brown {
    background: url("../Images/crystal_lake.jpg") center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

.brown-text {
    color: rgb(139, 69, 19);
}

.brown-button {
    color: rgb(139, 69, 19);
    border: 2px solid rgb(139, 69, 19);
}

#body-orange {
    background: url("../Images/morning_dew.jpg") center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

.orange-text {
    color: rgb(204,85,0);
}

.orange-button {
    color: rgb(204,85,0);
    border: 2px solid rgb(204,85,0);
}

#body-neon {
    background: url("../Images/neon_wall.jpg") center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

.neon-text {
    background: -webkit-linear-gradient(rgb(0,255,255),rgb(128,0,128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.neon-button {
    background: -webkit-linear-gradient(rgb(0,255,255),rgb(128,0,128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}